@import '../breakpoint/breakpoints.scss';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;

    &__order-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60px;
        background-color: #333333;

        & > ul {
            align-self: center;
            margin-left: 530px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #ffffff;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            list-style-type: none;
            padding: 0;

            @include for-e-large-up {
                margin-left: 260px;
                font-size: 10px;
            }

            @include for-large-up {
                margin-left: 0;
            }

            & > li:nth-child(2) {
                margin-right: 55px;

                @include for-medium-up {
                    margin-right: 25px;
                }
            }

            & > li:nth-child(1) {

                @include for-large-up {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            li {
                flex-grow: 1;
                position: relative;
                text-transform: uppercase;

                span {
                    margin-right: 10px;
                }

                img {
                    margin-left: 17px;

                    &:hover+ul {
                        top: 20px;
                        opacity: 1;
                    }
                }

                ul {
                    width: 100%;
                    position: absolute;
                    transition: all 0.8s ease;
                    top: 100px;
                    opacity: 0;
                    padding: 0;
                    text-align: center;
                    list-style-type: none;

                    li {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 130px;
        background-color: #5c5b57;

        ul {
            align-self: center;
            margin-top: 51px;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            font-family: "Fredoka One";
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 0;
            margin-left: 220px;

            @include for-e-large-up {
                font-size: 14px;
                margin-left: 0;
            }

            @include for-small-up {
                font-size: 10px;
            }

            &>li:first-child {
                margin-left: 0;
            }

            li {
                flex-grow: 1;
                flex-shrink: 2;
                text-align: center;
                border-bottom: 4px solid transparent;
                padding-bottom: 15px;
                margin-left: 86px;

                @include for-e-large-up {
                    margin-left: 46px;
                }

                @include for-medium-up  {
                    margin-left: 20px;
                }

                a {
                    color: #f7f7f7;
                    text-decoration: none;
                }

                &:hover {
                    border-bottom: 4px solid #ff4200;
                }
            }
        }
    }

    &__logo {
        position: absolute;
        top: 25px;
        left: 500px;

        @include for-e-large-up {
            left: 150px;
        }

        @include for-large-up {
          display: none;          
        } 

        span {
            color: #f7f7f7;
            font-family: Kristi;
            font-size: 60px;
            font-weight: 400;
            line-height: 60.96px;

            @include for-e-large-up {
                font-size: 45px;
            }

            &::after {
                position: absolute;
                top: 30px;
                right: -12px;
                content: 'logo';
                color: #f7f7f7;
                font-family: Lato;
                font-size: 18px;
                font-weight: 400;
                line-height: 60.96px;
            }
        }
    }
}

.semen {
    margin-right: 72px;
    margin-left: 0;

    @include for-medium-up {
        margin-right: 40px;
    }
}